In [5]:
import pandas as pd
import numpy as np

In [3]:
# Create a series
pd.Series(np.random.randn(5), index = ['a','b','c','d','e'])

a    1.056309
b    2.979120
c   -0.891768
d    2.142774
e    0.686494
dtype: float64

In [7]:
# Preserve the series in varaible a for later access
s = pd.Series(np.random.randn(5))

In [8]:
print(s)

0    0.415083
1   -0.668358
2    1.214972
3    1.863438
4    0.194227
dtype: float64

In [9]:
# Index
print(s[0])
print("\n")
print(s[:3])

0.415083267396


0    0.415083
1   -0.668358
2    1.214972
dtype: float64

# Dataframes

In [12]:
# Create a dataframe
df = pd.DataFrame(s, columns = ['Column 1'])
df

   Column 1
0  0.415083
1 -0.668358
2  1.214972
3  1.863438
4  0.194227

In [13]:
# Can access columns by name
df['Column 1']

0    0.415083
1   -0.668358
2    1.214972
3    1.863438
4    0.194227
Name: Column 1, dtype: float64

In [15]:
# Easy to add columns
df['Column 2'] = df['Column 1'] * 4
df

   Column 1  Column 2
0  0.415083  1.660333
1 -0.668358 -2.673431
2  1.214972  4.859888
3  1.863438  7.453751
4  0.194227  0.776909

In [16]:
# Other manipulation, like sorting -- if you want to preserve, set equal to var
df.sort_values(by = 'Column 2')

   Column 1  Column 2
1 -0.668358 -2.673431
4  0.194227  0.776909
0  0.415083  1.660333
2  1.214972  4.859888
3  1.863438  7.453751

In [17]:
# Boolean indexing
df[df['Column 2'] <= 2]

   Column 1  Column 2
0  0.415083  1.660333
1 -0.668358 -2.673431
4  0.194227  0.776909

In [21]:
df.apply(lambda x: min(x) + max(x))

Column 1    1.19508
Column 2    4.78032
dtype: float64

In [19]:
df.describe()

       Column 1  Column 2
count  5.000000  5.000000
mean   0.603872  2.415490
std    0.972364  3.889457
min   -0.668358 -2.673431
25%    0.194227  0.776909
50%    0.415083  1.660333
75%    1.214972  4.859888
max    1.863438  7.453751

# Exploring a Dataset

In [2]:
import matplotlib.pyplot as plt

plt.style.use('ggplot')

In [4]:
df = pd.read_csv('data/GlobalTemperatures.csv')

NameError: name 'pd' is not defined